<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning DJANGO</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
        }
    </style>
  </head>
  <body>
    <a href="{% url 'leads:lead_list' %}">Go back to leads</a>
    <h1>Create a new lead</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='Submit'>
    </form>
  </body>
</html>
