<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning DJANGO</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
        }
    </style>
  </head>
  <body>
    <h1>This is details of {{lead.first_name}}</h1>
    <p>{{lead.age}} years old</p>
    <a href="{% url 'leads:lead_list' %}">Go back to Homepage</a>
  </body>
</html>
